.container
{
    display:flex;
}

.blue-box
{
    width:45%;
    background:#1565D8;
}
.content
{
    margin-left:10%;
}

.white-box
{
    width:55%;
   background:#FFFFFF;
}
.header
{
    display:flex;
    margin-top: 5%;
}

.para 
{
    color:white;
    line-height: 30px;
    font-size: 18px;
    width: 63%;
}

.vector
{
    display:flex;
    justify-content: flex-end;
    width: 60%;
    margin-top: 5%;
}

.content1
{
    margin-top: 30%;
}

.vector1
{
    margin-top: 28%;
}

.header1
{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.container1
{
    margin-left: 5%;
    margin-right: 5%;
}

.para1
{
    
font-size: 18px;
font-weight: 400;
line-height: 28px;
color:#8692A6;
width:55%;

}

.profile
{
    margin-left: 10%;
    margin-top: 10%;
}

.form
{
    color:
    #696F79;
    margin-top:10px;
}








